# Python
__pycache__/
*.pyc
*.pyo
*.pyd
migrations/*.py

# Virtual Environment
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Dependency directories
lib/
libs/
dist/
build/
egg-info/

# Frontend
node_modules/