{% extends "base.html" %}

{% block content %}
  <main class="container mx-auto p-10 mt-10">

    <section class="flex justify-center items-center flex-col">
      <img src="{{ url_for('static', path='images/youtube-logo.png') }}"
           alt="YouTube Logo"
           height="80"
           width="80" />
      <h1 class="text-3xl font-bold text-center mb-8">RecapYT - AI Video Summarizer</h1>
    </section>

    <section class="flex justify-center items-center flex-row">
      <form action="{{ url_for("summary") }}" method="post" class="flex flex-row">
        <input type="text"
               name="video_url"
               id="video_url"
               placeholder="Enter a YouTube video URL"
               class="bg-gray-100 p-2 rounded-l w-[450px] h-[45px] border-none focus:outline-none" />
        <button type="submit" class="bg-blue-500 text-white p-2 rounded-r">Summarize</button>
      </form>
    </section>

    {% if error %}
      <div class="toast toast-top toast-end">
        <div class="alert alert-error">
          <div>
            <span>{{ error }}</span>
          </div>
        </div>
      </div>
    {% endif %}

    {% if success %}
      <div class="toast toast-top toast-end">
        <div class="alert alert-success">
          <div>
            <span>{{ success }}</span>
          </div>
        </div>
      </div>
    {% endif %}

    <section class="mt-10 flex flex-row w-full justify-between items-center flex-wrap p-4 bg-white rounded-lg">
      <div class="flex flex-col flex-grow align-center items-center">

        {% if thumbnail %}
          <img src="{{ thumbnail }}" alt="YouTube Thumbnail" width="208" height="auto" class="rounded-lg" />

        {% else %}
          <p class="text-gray-500">YouTube Summary data will appear here..</p>

        {% endif %}
        <h3 class="text-lg font-semibold text-gray-600 mb-4 mt-4">{{ title }}</h3>
        <div id="summaryText" class="bg-gray-100 p-4 rounded-lg w-full h-52 mt-4 overflow-y-auto">
          {{ summary }}
        </div>

        <button onclick="addToLibrary()" class="bg-blue-500 text-white p-2 rounded-lg mt-4">
          Add to Library
        </button>
      </div>
    </section>

    <section class="mt-10 flex justify-center items-center flex-col p-6 bg-gray-100 p-4 rounded-lg">
      <h2 class="text-2xl font-semibold mb-4 text-gray-600">Recent Summaries</h2>
      {% include "partials/recent.html" %}
    </section>

    <section class="mt-10 flex justify-center items-center flex-col bg-gray-100 p-4 rounded-lg">
      <h2 class="text-2xl font-semibold mb-4 text-gray-600">Current Statistics</h2>
      {% include "partials/stats.html" %}
    </section>

    {# Error Toast Template #}
    <div id="error-toast-template" class="hidden">
      <div class="toast toast-top toast-end">
        <div class="alert alert-error">
          <div>
            <span>Failed to add video to library</span>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script>
      document.addEventListener('DOMContentLoaded', function() {
          const textarea = document.getElementById('summaryText');
          textarea.style.height = 'auto';
          textarea.style.height = textarea.scrollHeight + 'px';

          textarea.addEventListener('input', function() {
              textarea.style.height = 'auto';
              textarea.style.height = textarea.scrollHeight + 'px';
          });
      });


      function addToLibrary() {
          const video_id = document.getElementById('video_url').value.split('v=')[1];

          fetch('/add', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({
                      video_id
                  })
              })
              .then(response => response.json())
              .then(data => {
                  if (data.status === 'success') {
                      window.location.href = '/library';
                  } else {
                      const toast = document.getElementById('error-toast-template').firstElementChild.cloneNode(true);
                      toast.id = '';
                      toast.classList.remove('hidden');
                      document.body.appendChild(toast);
                      setTimeout(() => {
                          toast.remove();
                      }, 2000);
                  }
              })
              .catch(error => {
                  console.error('Error:', error);
              });
      }
  </script>


{% endblock content %}
