<style>
  .stat-value {
    transition: transform 0.4s ease;
  }

  .stat-value:hover {
    transform: scale(1.2);
    cursor: alias;
  }
</style>

<div class="stats bg-gray-100 rounded-xl flex justify-around items-center flex-row p-4">
    <div class="stat text-center">
        <div class="stat-title text-gray-600">Total Videos</div>
        <div class="stat-value text-secondary">25.6K</div>
    </div>
  
    <div class="stat text-center ml-12">
        <div class="stat-title text-gray-600">Page Views</div>
        <div class="stat-value text-primary">2.6M</div>
    </div>
  
    <div class="stat text-center ml-12">
        <div class="stat-title text-gray-600">Success Rate</div>
        <div class="stat-value text-teal">98%</div>
    </div>
</div>